* {
    /* border: red solid; */
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    /* border: red solid; */
}

.box{
    background-color: coral;
    max-width: 400px;
    margin: 20px;
    padding: 200px;
}

