html, body{
    font-family: 'Arial', sans-serif;
    border: 3px solid red;
}

/* Type Selector */
/* 
h2{
    color: red;
    font-size: 30px
}

a {
    color: blue;
    text-decoration: none;
} */

/* Class Selector */



.sporty {
    color: red;
}

.casual {
    color: blue;
}

.formal {
    color: brown;
}

/* ID Selector */

#container{
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
}


/* Multiple Styles */
.sporty, 
.casual {
    font-size: 35px;

}

/* p {
    background: red;
} */

/* Descendant Styles */
/* 
#container p{
    background: blue;
} */
