body{
    font-family: Arial, sans-serif;
}

/* Regular Link */
a{
    text-decoration: none;
    color: #333;
}

/* Hover */
a:hover{
    color: red;
}

/* Active */
a:active{
    background: purple;
}

/* Focus */
a:focus {
    background: yellow;
}

a:visited{
    color: coral;
}