body{
    font-family: Arial, sans-serif;
    /* background-color: #000; */
    /* background-color: rgb(255, 255, 255); */

}

/* Color Name */
.sporty{
    color: red;
}


/* Hex Value */
.casual{
    color: #e04553;
}

/* RGBA */

.card{

    background-color: rgb(0,0,0,0.5);

    /* HSL */
    background-color: hsl(0, 100%, 50%);

    /* HSLA */

    background-color: hsl(0, 100%, 50%, 0.5);


}

.card-2{
    background-color: #000;
    color: #fff;

    /* opacity */

    opacity: 0.2;
}
