body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

header{
    background-color: #5e175b;
    color: white;

}

.header h1{
    font-size: 40px;
    text-align: center;
    text-indent: 20px;

}


a{
    text-decoration: none;
    color:#333;

}

a:hover {
    color: rebeccapurple;
}

a:active{
    color: red;
}

ul{
    list-style: none;
    padding: 0;
   
}

ul.mainmenu{
    background-color: #f4f4f4;
    text-transform: 10px;
}

p.lead{
    font-style: bold;
    font-size: 20px;
    color: rebeccapurple
}


