/* html{
    font-size: 10px;;
} */

body{
    font-family: 'Poppins', 'Arial', sans-serif;
    line-height: 2;
}



a{
    text-decoration: underline;
}

h2{
    font-size: x-large;
    font-weight: 700;
    font-style: normal;
    font-variant: small-caps;
/* 
    font: italic small-caps 700 26px Arial; */

    /* text-transform: uppercase */
    text-transform: capitalize;
    text-indent: 20px;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: center;
    

}
