*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.container{
  background: coral;
  /* height: 50vh; */
  height: 100vh;
  /* width: 50vw; */
}

.container h1{
    font-size: 7vw;
}
.container p{
    font-size: 3vw;
}

